/** @format */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-position {
  position: fixed;
  bottom: 38px;
  right: 40px;
}
.lnr-icon:hover {
  cursor: pointer;
}

.heading-title {
  color: #007bff;
}

.heading-title:hover {
  cursor: pointer;
}
